.App {
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 250px);
  position: relative;
  background: white;
  font-size: 0.8rem;
  overflow: auto;
}

.custom-link {
  stroke: #4355A3 !important;
  stroke-opacity: 0.6;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #F5F5F5; 
  scrollbar-width: none;
  border-radius: 10px;
}
